* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barraNavegacion {
  width: 100vw;
  background-color: lightcyan;
  background-image: url(../Multimedia/Serena/brackground2.jpg);
  border: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.perfilUsuario {
  text-align: end;
  padding: 10px;
  margin: 20px;
}
.perfilUsuario a {
  color: blueviolet;
  text-decoration: none;
  background-color: lightcyan;
  height: 200px;
  padding: 10px;
  border-radius: 50%;
  border-style: double;
}
.perfilUsuario a:hover {
  color: white;
  background-color: palevioletred;
  border-radius: 50%;
}

.menuHeader {
  background-color: lightcyan;
  width: 120px;
  height: 200px;
  margin: 10px;
  padding: 5px;
  list-style: none;
  border: 5px rgb(171, 130, 238) solid;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.menuHeader li a {
  text-decoration: none;
  color: blueviolet;
}
.menuHeader li a:hover {
  color: white;
  background-color: palevioletred;
  border-radius: 50%;
  padding: 4px;
}

.itemsHeader {
  padding: 4px;
  border: 1px rgb(171, 130, 238) solid;
  border-style: outset;
  padding-left: 1px;
  height: 16.67%;
}

footer {
  width: 100vw;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(148, 226, 226);
  background-image: url(../Multimedia/Serena/brackground2.jpg);
}
footer #abajo {
  text-align: center;
  color: purple;
  padding: 10px;
  -ms-text-size-adjust: 100px;
}
footer .menuFooter {
  list-style-type: none;
  padding: 20px;
  text-align: center;
}
footer .menuFooter li {
  display: inline-block;
  text-align: center;
  background-color: aliceblue;
  border-radius: 50%;
  padding: 10px;
  border: 5px;
  border-color: blueviolet;
  margin-left: 40px;
  margin-right: 40px;
}
footer .menuFooter li a {
  padding: 30px;
  margin: 10px;
  color: blueviolet;
  text-decoration: none;
}
footer .menuFooter li a:hover {
  color: white;
  background-color: palevioletred;
  border-radius: 50%;
}
footer .copaLunar a img {
  height: 100px;
  width: 100px;
  border-style: double;
  border-radius: 50%;
  background-color: black;
}
footer .copaLunar a img:hover {
  color: white;
  background-color: palevioletred;
  border-radius: 50%;
}

@font-face {
  font-family: "Lugrasimo";
  src: url(../Fuente/Lugrasimo-Regular.ttf);
}
body {
  font-family: Lugrasimo;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

.inicio {
  text-align: center;
}

.tituloPrincipal {
  text-align: center;
  padding: 30px;
  animation-name: animaTitle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 0;
}
@keyframes animaTitle {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: purple;
  }
  100% {
    color: black;
  }
}

.nameJapones {
  text-align: center;
  color: brown;
  padding: 10px;
}

.imagenPrincipal {
  padding: 10px;
  height: 800px;
  border-radius: 100%;
}

.titSer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  animation-name: animaTitle;
  animation-iteration-count: initial;
  animation-duration: 5s;
  animation-delay: 0;
}
@keyframes animaTitle {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: purple;
  }
  100% {
    color: black;
  }
}

.subTs {
  text-align: right;
  margin-right: 9%;
  color: brown;
}

.descripcionSerena {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 1100px;
}
.descripcionSerena img {
  width: 40%;
}
.descripcionSerena p {
  text-align: justify;
  font-family: "Pacifico", cursive;
  font-size: large;
  margin: 2%;
  width: 30%;
  margin-top: 8%;
}

.facesUsagi {
  box-sizing: border-box;
  display: flex;
  width: 900px;
  align-content: stretch;
  margin-left: 15%;
  margin-bottom: 3%;
  border: groove;
  justify-content: space-around;
}
.facesUsagi img {
  width: 33.33%;
}

.primerCapitulo {
  margin-left: 12%;
  width: 700px;
}

.tituloAmigas {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  animation-name: animaTitle;
  animation-iteration-count: initial;
  animation-duration: 5s;
  animation-delay: 0;
}
@keyframes animaTitle {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: purple;
  }
  100% {
    color: black;
  }
}

.contenedorCards {
  padding: 40px;
  background-color: rgb(248, 248, 239);
  background-image: url(../Multimedia/Serena/bgperfil.jpg);
  height: 800px;
  width: 1000px;
  margin: 1%;
  border-style: ridge;
  border-color: rgb(180, 133, 224);
  display: flex;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: aliceblue;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.amiga {
  height: 45%;
  width: 40%;
  margin: 0px;
}

.ami {
  background-color: blue;
}

.rei {
  background-color: red;
}

.mako {
  background-color: green;
}

.mina {
  background-color: orange;
}

.container {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.9fr;
  grid-template-rows: 1.3fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text1 aside text2" "galery galery galery";
}

.galery {
  grid-area: galery;
}

.text1 {
  grid-area: text1;
}

.aside {
  grid-area: aside;
}

.text2 {
  grid-area: text2;
}

@media screen and (max-width: 480px) {
  .imagenPrincipal {
    padding: 20px;
    height: 600px;
  }
}
@media screen and (max-width: 360px) {
  .imagenPrincipal {
    padding: 20px;
    height: 300px;
  }
  .menuHeader {
    width: 120px;
    height: 150px;
    margin: 10px;
    padding: 3px;
    border: 5px rgb(171, 130, 238) solid;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .itemsHeader {
    padding: 2px;
    border: 1px rgb(171, 130, 238) solid;
    padding-left: 1px;
    height: 16.67%;
    width: 100%;
  }
  .perfilUsuario a {
    height: 100px;
    padding: 5px;
  }
}
.titM {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  animation-name: animaTitle;
  animation-iteration-count: initial;
  animation-duration: 5s;
  animation-delay: 0;
}
@keyframes animaTitle {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: purple;
  }
  100% {
    color: black;
  }
}

.mamoruConten {
  padding: 50px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mamoruConten p {
  width: 200px;
}
.mamoruConten img {
  border-radius: 50%;
}
.mamoruConten .caracM {
  padding: 10px;
}
.mamoruConten .caracM li {
  margin: 20px;
}
.mamoruConten .family {
  padding: 10px;
}
.mamoruConten .family .tableFamily {
  text-align: center;
  background-color: rgb(197, 252, 243);
  background-image: url(../Multimedia/Serena/bgperfil.jpg);
  padding: 10px;
  margin-top: 10px;
}
.mamoruConten .family .toxImg {
  height: 500px;
  padding: 5px;
  margin: 20px;
}
.mamoruConten .park {
  text-align: center;
  padding: 10px;
}
.mamoruConten .park h2 {
  padding: 10px;
}

.titP {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  animation-name: animaTitle;
  animation-iteration-count: initial;
  animation-duration: 5s;
  animation-delay: 0;
}
@keyframes animaTitle {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  75% {
    color: purple;
  }
  100% {
    color: black;
  }
}

.perfil {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: left;
  margin: 10%;
  border: groove;
}
.perfil .formularioP {
  border: 10px;
  border-style: groove;
  border-color: rgb(186, 93, 223);
  padding: 20px;
  box-sizing: border-box;
  width: 500px;
  line-height: 1.6;
  font-weight: bold;
  background-image: url(../Multimedia/Serena/bgperfil.jpg);
  color: rgb(230, 99, 212);
}
.perfil .formularioP .choise {
  font-weight: normal;
}
.perfil .usagiPerfil img {
  width: 440px;
}
.perfil .mamoruP img {
  width: 250px;
}

.pilares {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 557px) {
  .perfil {
    align-items: center;
    margin: 15%;
  }
  .perfil .usagiPerfil img {
    width: 300px;
  }
  .perfil .formularioP {
    width: 350px;
    margin: 5%;
  }
}
@media screen and (max-width: 440px) {
  .perfil {
    align-items: center;
    margin: 15%;
  }
  .perfil .usagiPerfil img {
    width: 150px;
  }
  .perfil .formularioP {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: small;
  }
  .perfil .formularioP div textarea {
    width: 150px;
  }
  .perfil .mamoruP img {
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  .perfil {
    align-items: center;
    margin: 15%;
  }
  .perfil .usagiPerfil img {
    width: 150px;
  }
  .perfil .formularioP {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: small;
    margin: 1%;
  }
  .perfil .formularioP div textarea {
    width: 150px;
  }
  .perfil .mamoruP img {
    width: 100px;
  }
}
@media screen and (max-width: 557px) {
  .perfil {
    align-items: center;
    margin: 15%;
  }
  .perfil .usagiPerfil img {
    width: 300px;
  }
  .perfil .formularioP {
    width: 350px;
    margin: 5%;
  }
}
@media screen and (max-width: 1180px) {
  .descripcionSerena {
    align-items: flex-start;
    margin-bottom: 2%;
    width: 1200px;
    margin-left: 1%;
  }
  .descripcionSerena img {
    width: 20%;
    margin-left: 3%;
    padding-top: 0.5%;
  }
  .descripcionSerena p {
    text-align: justify;
    font-family: "Pacifico", cursive;
    font-size: medium;
    margin: 1%;
    width: 25%;
    margin-top: 2%;
  }
  .facesUsagi {
    width: 700px;
    margin-left: 10%;
    margin-bottom: 3%;
    border: groove;
    justify-content: space-around;
  }
  .facesUsagi img {
    width: 33.33%;
  }
  .primerCapitulo {
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .primerCapitulo video {
    width: 800px;
  }
}
@media screen and (max-width: 930px) {
  .descripcionSerena {
    width: 1000px;
  }
  .primerCapitulo video {
    width: 600px;
  }
}
@media screen and (max-width: 780px) {
  .descripcionSerena {
    width: 800px;
  }
  .facesUsagi {
    width: 500px;
    margin-left: 10%;
    margin-bottom: 3%;
    border: groove;
    justify-content: space-around;
  }
  .facesUsagi img {
    width: 33.33%;
  }
  .primerCapitulo video {
    width: 400px;
  }
}
@media screen and (max-width: 615px) {
  .descripcionSerena {
    flex-direction: column;
    width: 800px;
    margin-left: 4%;
  }
  .descripcionSerena img {
    width: 20%;
    margin-left: 5%;
    padding-top: 0.5%;
  }
  .descripcionSerena p {
    text-align: justify;
    font-family: "Pacifico", cursive;
    font-size: medium;
    margin: 0.5%;
    width: 50%;
    margin-top: 2%;
  }
  .facesUsagi {
    width: 400px;
    margin-left: 8%;
    margin-bottom: 3%;
    border: groove;
    justify-content: space-around;
  }
  .facesUsagi img {
    width: 33.33%;
  }
  .primerCapitulo video {
    width: 400px;
  }
}
@media screen and (max-width: 360px) {
  .descripcionSerena {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2%;
    width: 1100px;
  }
  .descripcionSerena img {
    width: 20%;
    margin-left: 5%;
    padding-top: 0.5%;
  }
  .descripcionSerena p {
    text-align: justify;
    font-family: "Pacifico", cursive;
    font-size: medium;
    margin: 1%;
    width: 25%;
    margin-top: 2%;
  }
  .facesUsagi {
    width: 300px;
    margin-left: 5%;
    margin-bottom: 3%;
    border: groove;
    justify-content: space-around;
  }
  .facesUsagi img {
    width: 33.33%;
  }
  .primerCapitulo {
    margin-left: 2%;
    margin-bottom: 3%;
  }
  .primerCapitulo video {
    width: 300px;
  }
}

/*# sourceMappingURL=estilos.css.map */
