.titAku{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        animation-name: animaTitle;
        animation-iteration-count:initial;
        animation-duration: 5s;
        animation-delay: 0;
        @keyframes animaTitle {
        0%{
            color: black;
        }
        50%{
            color: white;
        }
        75%{
            color: purple;
        }
        100%{
            color: black;
        }
      }
}
.container {  display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.9fr;
    grid-template-rows: 1.3fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "text1 aside text2"
      "galery galery galery";
  }
  
  .galery { grid-area: galery; }
  
  .text1 { grid-area: text1; }
  
  .aside { grid-area: aside; }
  
  .text2 { grid-area: text2; }