.titAku{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        animation-name: animaTitle;
        animation-iteration-count:initial;
        animation-duration: 5s;
        animation-delay: 0;
        @keyframes animaTitle {
        0%{
            color: black;
        }
        50%{
            color: white;
        }
        75%{
            color: purple;
        }
        100%{
            color: black;
        }
      }
}
.galleryVill{
    width: 1010px;
    height: 800px;
    justify-content: space-around;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    background-image: url(../Multimedia/Serena/bgperfil.jpg);
    img{
        border: double;
        width: 20%;
        padding: 0.5%;
        opacity: 0.4;
        background-color: white;
        &:hover{
            border: double black;
            opacity: 1;
            transform: scale(1.25,1.25);
            z-index: 1;
            transition: all 1s;

        }
    }
}
