.titM{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    animation-name: animaTitle;
    animation-iteration-count:initial;
    animation-duration: 5s;
    animation-delay: 0;
    @keyframes animaTitle {
        0%{
            color: black;
        }
        50%{
            color: white;
        }
        75%{
            color: purple;
        }
        100%{
            color: black;
        }
    }
}
.introM{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1000px;
    height: 400px;
    padding: 10px;
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 0;
    .presentM{
        margin:1%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 300px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
        p{
            text-align: left;
        }
        img{
            border-radius: 50%;
            width: 150px;
            border: groove black;
        }
        h2{
            padding: 1px;
        }
    }
}
.miDarien{
    margin: 5%;
    margin-bottom: 1%;
    border: groove black;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: "Pacifico", cursive;
    font-style: normal;
    p{
        width: 30%;
        margin-left: 20px;
        margin-bottom: 0%;
        font-size: larger;
        color: rgb(31, 29, 29);
    }
}
.juntos{
    width: 1000px;
    margin: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    img{
        width: 300px;
    }
}
.resumenM{
    box-sizing: border-box;
    display: flex;
    border: solid;
    width: 1000px;
    margin: 1%;
    justify-content: space-evenly;
    .caracM{
        border: solid;
        width: 400px;
        margin: 5%;
        background-image: url(../Multimedia/Serena/bgperfil.jpg);
        h2{
            text-align: center;
            color: brown;
            background-color: black;
        }
        ol{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: 12%;
            }
        }
    .family{
            border: solid;
            width: 400px;
            margin: 5%;
            background-image: url(../Multimedia/Serena/bgperfil.jpg);
            h2{
                text-align: center;
                color: brown;
                background-color: black;
            }
            .tableFamily{
                padding: 10px;
                margin-top: 10px;
                margin-left: 20px;
            }
            .toxImg{
                height: 500px;
                padding: 5px;
                margin: 20px;
            }
            audio{
                margin: 40px;
            }
        }    
}

.park{
        text-align: center;
        padding: 10px;
    
        h2{
            padding: 10px;
        }
    }