@media screen and (max-width:480px) {
    .galleryVill{
        width: 300px;
        height: 600px;
        margin: 15%;
        img{
            width: 100px;
        }
    }
}
@media screen and (max-width:320px) {
    .galleryVill{
        width: 240px;
        height: 800px;
        margin: 14%;
        img{
            width: 120px;
        }
    }
}
