@media screen and (max-width:480px) {
    .introM{
        width: 400px;
        height: 350px;
        margin: 3%;
        .presentM{
            margin:0.5%;
            width: 200px;
            p{
                text-align: left;
                font-size: smaller;
                font-style: italic;
            }
            img{
                width: 100px;
            }
            h2{
                font-size: medium;
            }
        }
    }
    .miDarien{
        p{
            width: 40%;
            margin-left: 10px;
            margin-bottom: 0%;
            font-size: smaller;
        }
    }
    .juntos{
        width: 400px;
        margin: 2%;
        img{
            width: 100px;
        }
    }
    .resumenM{
        flex-direction: column;
        width: 400px;
        .caracM{
            width: 300px;
            margin: 4%;
            }
        .family{
                width: 300px;
                margin: 3%;
                .tableFamily{
                    padding: 5px;
                    margin-top: 5px;
                    margin-left: 5px;
                }
                audio{
                    margin: 20px;
                    width: 200px;
                }
            }    
    }
    
    .park{
            padding: 5px;
            h2{
                padding: 10px;
            }
            iframe{
                width: 280px;
            }
        }
    
}
@media screen and (max-width:320px) {
    .introM{
        width: 300px;
        height: 700px;
        margin-left: 10%;
        justify-content: stretch;
        flex-wrap: wrap;
    }
    .miDarien{
        margin-left: 3%;
        p{
            flex-direction: column;
            width: 100%;
        }
    }
    .juntos{
        width: 290px;
        margin: 2%;
        img{
            width: 100px;
        }
    }
    .resumenM{
        width: 300px;
        .caracM{
            width: 280px;
            margin: 2%;
            }
        .family{
                width: 280px;
                margin: 2%;
    }
}
    .park{
            margin: 1%;
        }
    
}
