@media screen and (max-width:480px) {
    .moments{
        margin-left: 2%;
        margin-top: 10%;
        border:inherit;
        width: 300px;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        z-index: -1;
        opacity: 0.5;
        img{
            width: 235px;
            margin-left: 20%;
            margin-top: 10%;
            margin-bottom: 1%;
        }
    }
    .textSailors{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 2%;
        border: double purple;
        width: 360px;
        p{
            width: 100%;
            margin: 2%;
            text-size-adjust: small;
            font-weight: bold;
            color: aliceblue;
        }
    }
    .contenedorCards{
        flex-direction: column;
        width: 360px;
        margin: 2%;
        height: 100%;
    }
    .amiga{
        height: 40%;
        width: 100%;
        margin: 1%;
        padding: 0.5%;
    }
}
@media screen and (max-width:320px) {
    .moments{
        width: 280px;
        img{
            width: 150px;
        }
    }
    .textSailors{
        width: 280px;
    }
    .contenedorCards{
        width: 280px;
    }
    .amiga{
        height: 40%;
        width: 100%;
        margin: 0.5%;
        padding: 0.5%;
        .carousel-item{
            padding: 1%;
        }
    }
}
