.titAmigas{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    animation-name: animaTitle;
    animation-iteration-count:initial;
    animation-duration: 5s;
    animation-delay: 0;
    @keyframes animaTitle {
        0%{
            color: black;
        }
        50%{
            color: white;
        }
        75%{
            color: purple;
        }
        100%{
            color: black;
        }
    }
}
.moments{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
    border: solid;
    width: 300px;
    background-color: black;
    z-index: -1;
    img{
        width: 235px;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}
.textSailors{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    margin-left: 10%;
    margin-right: 10%;
    border: groove;
    width: 1000px;
    p{
        width: 50%;
        margin-left: 45%;
        margin-top: 3%;
        text-size-adjust: medium;
        font-weight: bold;
    }
}
.contenedorCards{
    padding: 40px;
    background-color: rgb(248, 248, 239);
    background-image: url(../Multimedia/Serena/bgperfil.jpg);
    height: 800px;
    width: 1000px;
    margin: 10%;
    border-style: ridge;
    border-color: rgb(180, 133, 224);
    display: flex;
    text-align: center;
    font-family: "Pacifico", cursive;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.amiga{
    height: 45%;
    width: 40%;
    margin: 0px;
}
.ami{
    background-color: blue;
}
.rei{
    background-color: red;
}
.mako{
    background-color: green;
}
.mina{
    background-color: orange;
    
}