.tituloAmigas{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    animation-name: animaTitle;
    animation-iteration-count:initial;
    animation-duration: 5s;
    animation-delay: 0;
    @keyframes animaTitle {
        0%{
            color: black;
        }
        50%{
            color: white;
        }
        75%{
            color: purple;
        }
        100%{
            color: black;
        }
    }
}
.contenedorCards{
    padding: 40px;
    background-color: rgb(248, 248, 239);
    background-image: url(../Multimedia/Serena/bgperfil.jpg);
    height: 800px;
    width: 1000px;
    margin: 1%;
    border-style: ridge;
    border-color: rgb(180, 133, 224);
    display: flex;
    text-align: center;
    font-family: "Pacifico", cursive;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.amiga{
    height: 45%;
    width: 40%;
    margin: 0px;
}
.ami{
    background-color: blue;
}
.rei{
    background-color: red;
}
.mako{
    background-color: green;
}
.mina{
    background-color: orange;
    
}