//estandarización//
    @import "reseteo";
//header//
    @import "header";
//footer//
    @import "footer";
//fuente//
    @import "fuente";
//index//
    @import "index";
//Estilo Page Serena//
    @import "serena";
//Estilo Page Tomodachi//
    @import "tomodachi";
//Estilo Page Akuyaku//
    @import "akuyaku";
//Resposive Desing//
    @import "rdindex";
//Estilo Page Mamoru//
@import "mamoru";
//Estilo Page Form//
.titP{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.perfil{
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: left;
    .formularioP{
    border: 10px;
    border-style:groove; 
    border-color: rgb(186, 93, 223);
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    line-height: 1.6;
    font-weight: bold;
    background-image: url(../Multimedia/Serena/bgperfil.jpg);
    color: rgb(230, 99, 212);  
        .choise{
            font-weight: normal;
        }
    }
    .usagiPerfil{
        img{
            width: 440px;
        }
    }
    .mamoruP{
        img{
            width: 250px;
        }
    }
}


